body {
  margin: 0;
  padding: 0;
  background-image: url(/images/Fondo.jpg);
  background-image: no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  text-align: center; 
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box .nose {
  text-align: center;
  border: none;
  outline: none;
  height: 30px;
  background: #b80f22;
  color: #fff;
  font-size: 28px;
  border-radius: 20px;
  padding: 15px;
  width: 30px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  text-align: center;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}