body {
		background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

#SignupContent {
		max-width: 600px;
		backgroud-color: white;
		border-radius: 4px;
}

@media screen and (max-width: 600px) {
		#SignupContent {
				height: 100%;
		}
	#materialToolbar {
		    padding: 10px;
	}
}
#exitosito, #perfectito{
    text-align: center;
}
#chequecito{
    padding-left: 20%;
}
#boton{
    color:white;
    text-underline-position: alphabetic;
}