<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Registro DB</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel='stylesheet' href='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc3/angular-material.css'>
<link rel='stylesheet' href='http://localhost:8080/docs.css'>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div ng-controller="DemoCtrl" ng-cloak="" class="md-inline-form" ng-app="MyApp" layout="column" layout-sm="row" layout-align="center center" layout-align-sm="start start" layout-fill>
		<md-content id="SignupContent" class="md-whiteframe-10dp" flex-sm>
				<md-toolbar flex id="materialToolbar">
						<div class="md-toolbar-tools"> <span flex=""></span> <span class="md-headline" align="center">Registro Automóviles DB</span> <span flex=""></span> </div>
				</md-toolbar>
				<div layout-padding="">
						<div></div>
						<form name="userForm" method="POST" action="" ng-submit="user.submit(userForm.$valid)" enctype="multipart/form-data">
								<input type="hidden" name="action" value="signup" />
								<div layout="row" layout-sm="column">
										<md-input-container flex-gt-sm="">
												<label>Nombre</label>
												<input ng-model="user.first_name" name="first_name" required type="text" ng-pattern="/^[a-zA-Z'. -]+$/" placeholder="Nombre">
												<div ng-if="userForm.first_name.$dirty" ng-messages="userForm.first_name.$error" role="alert">
														<div ng-message="required" class="my-message">Obligatorio.</div>
														<div ng-message="pattern" class="my-message">Ingresa un nombre válido.</div>
												</div>
										</md-input-container>
										<md-input-container flex-gt-sm="">
												<label>Apellido</label>
												<input ng-model="user.last_name" name="last_name" required type="text" ng-pattern="/^[a-zA-Z'. -]+$/" placeholder="Apellido">
												<div ng-if="userForm.last_name.$dirty" ng-messages="userForm.last_name.$error" role="alert">
														<div ng-message="required" class="my-message">Obligatorio.</div>
														<div ng-message="pattern" class="my-message">Ingresa un apellido válido.</div>
												</div>
										</md-input-container>
								</div>
								<div layout="row" layout-sm="column">
										<p style="font-size: 12px; margin-left: 3px; margin-top: 18px;">Género: </p>
										<input type="hidden" name="gender" value="{{user.gender}}" />
										<md-radio-group style="margin: 12px 0 19px;" ng-model="user.gender" required>
												<md-radio-button value="Male" class="md-primary">Masculino</md-radio-button>
												<md-radio-button value="Female">Femenino</md-radio-button>
										</md-radio-group>
										<md-input-container flex-gt-sm="60">
												<label>Edad</label>
												<input required type="number" step="any" name="age" ng-model="user.age" min="18" max="100" placeholder="18" />
												<div ng-if="userForm.age.$dirty" ng-messages="userForm.age.$error" role="alert" multiple>
														<div ng-message="required">Obligatorio.</div>
														<div ng-message="min">No estás en el rango de edad.</div>
														<div ng-message="max">Lo sentimos, {{userForm.age.$viewValue}} años no es válido.</div>
												</div>
										</md-input-container>
                                    
								</div>
                            <div layout="row" layout-sm="column">
										<md-input-container flex-gt-sm="">
												<label>Número de teléfono</label>
												<input ng-model="user.telefono" name="telefono" required type="text" placeholder="0000-0000">
												<div ng-if="userForm.first_name.$dirty" ng-messages="userForm.first_name.$error" role="alert">
														<div ng-message="required" class="my-message">Obligatorio.</div>
												</div>
										</md-input-container>
										<md-input-container flex-gt-sm="">
												<label>País</label>
												<input ng-model="user.pais" name="pais" required type="text" placeholder="El Salvador">
												<div ng-if="userForm.last_name.$dirty" ng-messages="userForm.last_name.$error" role="alert">
														<div ng-message="required" class="my-message">Obligatorio.</div>
												</div>
										</md-input-container>
								</div>
                                <div layout="row" layout-sm="column">
										<md-input-container flex-gt-sm="">
												<label>Nickname</label>
												<input required type="text" name="correo" ng-model="user.nickname"  placeholder="Nickname" />
												<div ng-if="userForm.email.$dirty" ng-messages="userForm.email.$error" role="alert">
														<div ng-message="required" class="my-message">Obligatorio.</div>
												</div>
										</md-input-container>
								</div>
								<div layout="row" layout-sm="column">
										<md-input-container flex-gt-sm="">
												<label>Correo</label>
												<input required type="email" name="email" ng-model="user.email" ng-pattern="/^[_a-z0-9-+]+(\.[_a-z0-9-+]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" placeholder="someone@example.com" />
												<div ng-if="userForm.email.$dirty" ng-messages="userForm.email.$error" role="alert">
														<div ng-message="required" class="my-message">Obligatorio.</div>
														<div ng-message="pattern" class="my-message">Ingresa un correo válido. </div>
														<div ng-message="email" class="my-message">Ingresa un correo válido. </div>
												</div>
										</md-input-container>
								</div>
								<div layout="row" layout-sm="column">
										<md-input-container flex-gt-sm="">
												<label>Contraseña</label>
												<input name="password" ng-model="user.password" type="password" minlength="8" maxlength="100" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/" required placeholder="********">
												<div ng-if="userForm.password.$dirty" ng-messages="userForm.password.$error" role="alert" multiple>
														<div ng-message="required">Obligatorio.</div>
														<div ng-message="pattern">Debe contener un número, una minúscula y un carácter mayúsculo.</div>
														<div ng-message="minlength">Password should be greater than 8 letters.</div>
														<div ng-message="maxlength">Password Can't be more than 100 letters.</div>
												</div>
										</md-input-container>
										<md-input-container flex-gt-sm="">
												<label>Confirmar Contraseñas</label>
												<input name="confmPassword" ng-model="user.confmPassword" type="password" minlength="8" maxlength="100" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/" required compare-to="user.password" placeholder="********">
												<div ng-if="userForm.confmPassword.$dirty" ng-messages="userForm.confmPassword.$error" role="alert">
														<div ng-message="required">Obligatorio.</div>
														<div ng-message="compareTo">Las contraseñas no coinciden.</div>
												</div>
										</md-input-container>
								</div>
                           
								<md-button class="md-raised md-primary"  href="exito.html" style="width:100%; margin: 0px 0px;" type="submit" ng-disabled="userForm.$invalid"> Registrarse </md-button>
                               
                            <md-button class="md-raised md-primary" href="../index(login).html" style="width:100%; margin: 15px 0px 0px 0px;">Regresar</md-button>
						</form>
				</div>
		</md-content>
</div>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js'></script>
<script src='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc3/angular-material.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
